<form action="/admin/addCar" method="POST" enctype="multipart/form-data">
  <fieldset>
    <legend>Add new car:</legend>

    <label for="name" >Model:</label>
     <input type="text" name="model" class="form-control" required><br>

    

    <label for="name">Price:</label>
    <input type="text" name="price" class="form-control" required><br>

    <label for="name">Year:</label>
    <input type="text" name="year" class="form-control" required><br>

    <label for="name">Fuel Type:</label>
    <select id="fuelType" name="fuelType" class="form-control" required><br>
      <option value="Petrol">Petrol</option>
      <option value="Diesel">Diesel</option>
      <option value="Petrol+CNG">Petrol+CNG</option>
    </select>

    <label for="name">Car Type:</label>
    <select id="carType" name="carType" class="form-control" required><br>
      <option value="Sedan">Sedan</option>
      <option value="SUV">SUV</option>
      <option value="Hatckbak">Hatckbak</option>
      <option value="Sportz">Sportz</option>
    </select>

    <label for="name">Passing Number:</label>
    <input type="text" name="passingNumber" class="form-control" required><br>

    <label for="name">Capacity:</label>
    <input type="text" name="capacity" class="form-control" required><br>

    <label for="name">Transmission:</label>
    <select id="transmission" name="transmission" class="form-control" >
      <option value="Auto">Auto</option>
      <option value="Manual">Manual</option>
    </select>

    <label for="name">Image:</label>
    <input type="file" name="image" class="form-control" required accept="image/*"><br>
    
    <input type="submit" value="Add Car">
  </fieldset>
</form>