<h1>Change Password</h1>
{{#if errMsg}}
    <div class="alert-danger">
        <p>{{errMsg}}</p>
    </div>
{{/if}}
<div class="car-section row">
    <form action="/user/changePassword" method="POST">
        <label for="password">Current Password</label>
        <input type="password" id="curPassword" placeholder="Enter Your Current password" name="curPassword" class="form-control" required><br>
        
        <label for="password">New Password</label>
        <input type="password" id="newPassword" placeholder="Enter Your New password" name="newPassword" class="form-control" required><br>

        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        <input type="submit" value="Change Password">
    </form>
</div>