<div class="car-section row">      
<form action="/user/forgotPassword" method="POST">
    <label for="name">New Password</label>
    <input type="password" placeholder="Enter Password" name="password"  class="form-control"><br><br>

    <input type="hidden" name="randID" value="{{id}}">
    <input type="submit" value="Change Password">
</form>
</div>