<div class="alert-danger">
        {{ errMsg}}
    </div> 
<div class="car-section row"> 
    <form action="/user/verifyEmail" method="POST">
        <label for="name">Registered Email Address</label>
        <input type="email" placeholder="Enter redistred Email Id" name="regEmail"  class="form-control"><br>

        <input type="submit" value="Verify Email" >
        
    </form>
</div>